
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    /* background-color: #FFE6E6; */
}

*::selection {
    color: #fff;
    background-color: #000;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#cursor{
    height: 140px;
    width: 140px;
    background-color: transparent;
    /* background-color: rgb(205, 125, 189); */
    border-radius: 50%;
    position: fixed;
    /* mix-blend-mode:darken; */
    color: white;
    border: 4px solid white;
    /* z-index: 10; */
    
    transform: translate(-50%,-50%) scale(0);
}
#cursor h4{
    text-align: center;
    padding: 3vw 2vw;
    /* z-index: 900; */
    font-size: 1.5vw;
}


#nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 99999;
    padding: 1vw 2vw;
    /* background-color: red; */
    justify-content: space-between;
}

#nav-bar #nav-part1 svg{
    width: 100%;
    height: 2.5vw;
    color: white;
    
}

#nav-bar #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
    gap: 20px;
    
}

#nav-part2 .button{
    font-size: 1.2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #F4F4F4;
    cursor: pointer;
    font-weight: 900;
    padding: 0 2vw;
}

#nav-part2 .button:hover {
    mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    mask-size: 200%;
    animation: shine 2s infinite;
  }
  
  @keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }


#nav-bar #nav-part2 button{
    padding: 0.5vw 1.5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 100px;
    background-color: #fafafa;
    font-weight: lighter;
    cursor: pointer;
    border: none;
    font-size: 1.2vw;
}


.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: gray;
    transform: translateX(-100%);

}


.menu .button{
    color: white;
    top: 100px;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: end;
    font-size: 1.5vw;
    width: 100%;
    cursor: pointer;
    padding-right: 14vw;
    position: absolute;

}

.menu .button:hover {
    mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    mask-size: 200%;
    animation: shine 2s infinite;
  }
  
  @keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }

.ul{
    position: absolute;
    left: 20%;
    list-style-type: none;
    display: flex;
    /* top: 100px; */
    width: 300px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;


}

.ul li{
    margin: 20px 0;
    z-index: 2;

}

.ul li a{
    text-decoration: none;
    color: white;
    font-size: 4vw;
    transition: 2s;
    mix-blend-mode: difference;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;

}

.menu .social{
    position: absolute;
    bottom: 0;
    display: flex;
    height: 80px;
    width: 100%;
    margin-left: 50px;
}


.social li{
    display: flex;
    margin: 0px 10px;
}

.social li a{
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 1px
}


.ul li a:hover{
    transition: 0.1s;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;
    
    
}



.houseclas .title img{
    z-index: 999;
    position: absolute;
    height: 156px;
    opacity: 0;
    
}



/* Main page start from here */

#main{
    width: 100%;
    min-height: fit-content;
}

#page1 {
    min-height: 100vh;
    /* background-color: aqua; */
    position: relative;
    width: 100%;
    /* padding: 0 1vw; */
    /* padding-top: 20vh; */

}
.bgimg img{
    width: 100%;
    object-fit: fill;
    height: 100vh;
    opacity: 0.9;
}

#headings{
    position: absolute;
    top: 29%;
    padding: 1vw 2vw;
    color: white;
    line-height: 1;
}
#headings h5{
    font-size: 1vw;
    color: #fff;
    padding-top: 3vw;
    padding-left: 0.7vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#headings .middle{
    font-size: 4vw;
    /* padding-top: 1vw; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#headings .middle h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}






#page2 {
    min-height: 60vh;
    width: 100%;
    position: relative;
    display: flex;
    
    padding: 4vw;
    background: linear-gradient(to top, #ffffff, #cfcfd047);
   
}

#page2 .elem {
    height: 100%;
    width: 31%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

#page2 .elem h1{
   
    font-size: 1.5vw;
    padding-right: 16.2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#page2 #elem2{
    flex-basis: 70%;
    padding-left: 2vw;
}
#page2 .elem p{
    text-align: end;
    font-weight: 600;
    font-size: clamp(2rem, 5vw, 1rem);
    /* font-size: 2.5vw; */
    /* color: transparent; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#page2 .elem p:nth-of-type() {
    background: #ffff00;
}



#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    /* background-color: red; */
    padding: 2vw 3vw;
    
}

#page3 .hed h1{
    text-align: start;
    font-size: 1.5vw;
    padding-left: 2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cards{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 2vw 1vw;
    /* background-color: red; */
}

.cards .crds{
    padding-top: 8vw;
    /* background-color: aqua; */
    /* width: 55%; */
    flex-basis: 50%;
    height: 75vh;
}

.cards .crds img{
    width: 100%;
    height: 100%;

}

.grid-det {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 10vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }

  .box {
    display: flex;
    font-size: 1vw;
    padding: 10px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    box-sizing: border-box;
    
  }

  .box:nth-child(2) {
    align-items: flex-start;
    justify-content: flex-start;
  
  }

  .box:nth-child(3) {
    justify-content: flex-start;
  }

  .box:nth-child(4) {
    align-items: flex-start;
    justify-content: flex-start;
  }



#page4{
    min-height: 60vh;
    width: 100%;
    position: relative;
    /* background-color: red; */
    padding: 1vw 3vw;
}



#page4 .hedings h1{
    text-align: start;
    font-size: 1.5vw;
    padding-left: 2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



#page4 #h-divs{
    width: 100%;
    padding-top: 2vw;
    min-height: 50vh;

}

#page4 #h-divs .houseclas{
    width: 100%;
    height: 20vh;
    margin: 2vw 1vw;
    border-bottom: 1px solid rgb(232, 232, 232);

    
    /* background-color: red; */
}


.houseclas .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.houseclas h1{
    letter-spacing: 2px;
    /* border-bottom: 1px solid aqua; */
    font-size: 6vw;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.houseclas h5{
    margin-top: 1.5vw;
    padding-right: 20px;
    font-size: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.houseclas button{
    padding: 0.5vw 0.8vw;
    border-radius: 50px;
    font-size: 1vw;
    color: #000;
    background-color: transparent;
    margin: 10px 10px;
}





#page5{
    width: 100%;
    height: 80vh;
    padding: 1vw 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background-color: #F4F4F4;
}
#page5 .hed h1{
    text-align: start;
    font-size: 1.5vw;
    padding-left: 2.5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.faq-container{
    width: 100%;
    padding: 2vw 4vw;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: start;
}



.faq-container .left-prt h2{
    font-size: 5.5vw;
    text-align: start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}


.faqs{
    /* background-color: red; */
    width: 100%;
    padding: 40px;
    line-height: 1.6rem;
    
}

#page5 .faq-container .right-prt{
    margin-left: 2vw;
}

.accordian{
    background-color: transparent;
    padding: 1vw 2vw;
    /* padding-left: 5vw; */
    margin-bottom: 16px;
    border-bottom: 1px solid gainsboro;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* box-shadow: 1px 1px 5px rgb(65, 65, 65); */
}

.quetsions{
    display: flex;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    justify-content: space-between;

}

.quetsions h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.icon{
    margin-right: 16px;
}
.icon.active{
    transform: rotate(-180deg);
}

.answer{
    color: blue;
    max-height: 0;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

   
}

.answer p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}

.answer.active{
    max-height: fit-content;
    
}

#page6{
    width: 100%;
    min-height: 50vh;
    padding: 1vw 0;
    text-align: center;
}

#page6 h1{
    font-size: 4vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: colorChange 3s infinite;

}



#page6 h1:hover{
    transition: 0.1s;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(145, 140, 140);
    
}



#page6 .middle-prt {
    padding: 2vw;
}
#page6 .middle-prt h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#page6 .middle-prt button{
    margin: 1vw 1vw;
    font-size: 1vw;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.5vw 1.2vw;
    border-radius: 50px;
    border: 1px solid black;
    background-color: transparent;
}



#page6 .middle-prt button:hover{
    background-color: #bababa;
    font-size: 1.5vw;
    transition: all ease-out 0.1s;
    
}



#footer{
    display: flex;
    align-items: center;
    padding: 2vw 2vw;
    width: 100%;
    height: 5vh;
    background-color: #cfcfd047;
    justify-content: space-between;
}
#footer h4{
    font-size: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#footer i{
    font-size: 1.5vw;
    padding: 0 1vw;
}



/* dorp down menu code**************************** */
#drop-down-conatiners {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 2vw 1vw;
}

.drp1 {
    position: relative;
    margin-top: 10px;
    width: 200px;
    height: 45px;
    border-radius: 100px;
    border: 1px solid #e5e5e96d;
}

.drp1::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    right: 20px;
    top: 20px;
    z-index: 1000000;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.drp1 input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    padding: 12px 20px;
    color: white;
    
    border: none;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0);
}

.drp1 .options {

    font-size: 1vw;
    z-index: 999;

    position: absolute;
    top: 70px;
    width: 100%;
    max-height: 150px; /* Adjust the maximum height as needed */
    overflow: hidden;
    background: white;
    color: black;
    box-shadow: 0 30px 30px rgb(0, 0, 0, 0.05);
    border-radius: 10px;
    display: none;
}

.drp1 input::placeholder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    color: white; /* This sets the placeholder text color */
}


.drp1.active .options {
    display: block;
    overflow-y: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.drp1.active::before {
    top: 22px;
    transform: rotate(-225deg);
    
}

.drp1 .options div {
    padding: 12px 20px;
    cursor: pointer;
}

.drp1 .options div:hover {
    background: lightskyblue;
    color: #f4f4f4;
}

.drp1 .options div.selected {
    /* Add styles for the selected option here */
    background: lightskyblue;
    color: #f4f4f4;
}

/* Add this if you want to remove the black border */
.drp1 .options div.selected {
    border: none;
}

/* Add this if you want to remove the black border only on hover */
.drp1 .options div:hover,
.drp1 .options div.selected:hover {
    border: none;
}

.srch-div{
    width: 50px;
    height: 50px;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    background-color: white;
}

.srch-div i{
    font-size: 1.7vw;
    padding: 1vw 1vw;
    border-radius: 50%;
    color: black;
    
    /* background-color: #fff */
}


.label {
    font-weight: 100;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    font-size: 1vw;
    margin-bottom: 5px;
}



/* mobile size */
@media (max-width:600px) {


    #nav-bar{
        width: 100%;
        display: flex;
        height: 6vh;
        align-items: center;
        position: fixed;
        z-index: 99999;
        padding: 8vw 4vw;
        /* background-color: red; */
        justify-content: space-between;
    }

    #nav-bar #nav-part1 svg{
        width: 100%;
        height: 8vw;
        color: white;
        
    }
    
    #nav-bar #nav-part2{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5vw 5vw;
        gap: 20px;
        
    }

    #nav-part2 .button{
        font-size: 5vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #F4F4F4;
        cursor: pointer;
        font-weight: 900;
        padding: 0 2vw;
    }

    #nav-bar #nav-part2 button{
        padding: 1vw 2vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 100px;
        background-color: #fafafa;
        font-weight: lighter;
        cursor: pointer;
        border: none;
        font-size: 4vw;
    }
    html, body {
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }

    #main{
        width: 100%;
        overflow-y: auto;
        /* min-height: fit-content; */
    }

    #page1 {
        min-height: 140vh;
        /* background-color: aqua; */
        position: relative;
        width: 100%;
        /* padding: 0 1vw; */
        /* padding-top: 20vh; */
    
    }
    .bgimg img{
        width: 100%;
        object-fit: cover;
        height: 140vh;
        opacity: 0.9;
    }
    #headings{
        position: absolute;
        top: 29%;
        padding: 1vw 2vw;
        color: white;
        line-height: 1;
    }
    #headings h5{
        font-size: 3vw;
        color: #fff;
        padding-top: 3vw;
        margin-bottom: 20px;
        padding-left: 0.7vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #headings .middle h1{
        font-size: 11vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    #drop-down-conatiners {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 2vw 8vw;
    }

    .drp1 {
        position: relative;
        margin-top: 20px;
        width: 200px;
        height: 45px;
        border-radius: 100px;
        border: 1px solid #e5e5e96d;
    }
    .label {
        font-weight: 100;
        display: block;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: 25px;
        font-size: 4vw;
        margin-bottom: 5px;
    }
    .drp1 input::placeholder {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 3.5vw;
        padding: 1vw;
        color: white; /* This sets the placeholder text color */
    }
    .srch-div{
        width: 400px;
        height: 50px;
        margin-top: 25px;
        align-items: center;
        justify-content: center;
        display: flex;
        
        border-radius: 50px;
        background-color: white;
    }
    
    .srch-div i{
        
        font-size: 5vw;
        padding: 1vw 1vw;
        border-radius: 50%;
        color: black;
        
        /* background-color: #fff */
    }
    .drp1 .options {

        font-size: 3vw;
        z-index: 999;
        position: absolute;
        top: 70px;
        width: 100%;
        max-height: 150px; /* Adjust the maximum height as needed */
        overflow: hidden;
        background: white;
        color: black;
        box-shadow: 0 30px 30px rgb(0, 0, 0, 0.05);
        border-radius: 10px;
        display: none;
    }



    /* menu ****************** */
    .menu{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 9999;
        text-decoration: none;
        background-color: rgba(255, 0, 0, 0.8); /* Background color with some transparency */
        backdrop-filter: blur(10px);
        /* background-color: grey; */
        transform: translateX(-100%);
    
    }

    .menu .button{
        color: white;
        top: 100px;    
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: end;
        font-size: 5vw;
        width: 100%;
        text-decoration: none;
        cursor: pointer;
        padding-right: 14vw;
        position: absolute;
    
    }

    .ul{
        position: absolute;
        left: 20%;
        display: flex;
        /* top: 100px; */
        width: 300px;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-decoration: none;
        flex-direction: column;
    
    
    }

    
    .ul li{
        margin: 20px 0;
        z-index: 2;
        text-decoration: none;

    }

    .ul li a{
        text-decoration: none;
        color: white;
        font-size: 9vw;
        transition: 2s;
        mix-blend-mode: difference;

        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 900;
        text-transform: uppercase;

    }

    .menu .social{
        position: absolute;
        bottom: 0;
        display: flex;
        height: 80px;
        width: 100%;
        margin-left: 50px;
    }


    .social li{
        display: flex;
        margin: 0px 10px;
    }

    .social li a{
        text-decoration: none;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 4vw;
        text-transform: uppercase;
        font-weight: lighter;
        letter-spacing: 1px
    }

    

    #page2 {
        min-height: 25vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 4vw;
        padding-bottom: 10vw;
        /* margin-bottom: 10vw; */
        background: linear-gradient(to top, #ffffff, #cfcfd047);
       
    }
    #page2 .elem {
        height: 100%;
        width: 100%;
        /* background-color: red; */
        overflow: hidden;
        position: relative;
        display: flex;
        /* align-items: flex-start; */
        justify-content: space-evenly;
    }

    #page2 .elem h1{
        margin-top: 10vw;
        font-size: 5vw;
        padding-right: 16.2vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    #page2 #elem2{
        width: 100%;
        padding-left: 2vw;
        text-align: center;
    }
    #page2 .elem p{
        text-align: center;
        font-weight: 600;
        margin-top: 3vw;
        margin-bottom: 5vw;
        font-size: 3.75vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }

    #page3{
        min-height: 100vh;
        width: 100%;
        position: relative;
        /* background-color: red; */
        padding: 2vw 3vw;
        margin-bottom: 25vh;
        
        
    }
    #page3 .hed h1{
        text-align: start;
        font-size: 5vw;
        padding-left: 2vw;
        margin-bottom: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .cards{
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        padding: 2vw 1vw;
        /* background-color: red; */
    }

    .cards .crds{
        padding-top: 8vw;
        /* background-color: aqua; */
        /* width: 55%; */
        /* flex-basis: 50%; */
        width: 100%;
        height: 75vh;
    }

    .cards .crds img{
        width: 100%;
        height: 85%;
        margin-top: 20px;
        
        /* margin-bottom: 1px; */
        object-fit: cover;
    
    }

    .grid-det {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 10vh;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }
    .box {
    display: flex;
    font-size: 1vw;
    font-size:3.2vw;
    padding: 10px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    box-sizing: border-box;
    
    }
    
    .box:nth-child(2) {
    align-items: flex-start;
    justify-content: flex-start;
    
    }
    .box:nth-child(3) {
    justify-content: flex-start;
    }

    .box:nth-child(4) {
    align-items: flex-start;
    justify-content: flex-start;
    }

      /* page 4******************** */


    #page4{
        /* min-height: 60vh; */
        width: 100%;
        position: relative;
        /* background-color: red; */
        padding: 5vw 3vw;
        margin-bottom: 50px;
    }
    #page4 .hedings h1{
        text-align: start;
        font-size: 5vw;
        padding-left: 2vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #page4 #h-divs{
        width: 100%;
        padding-top: 2vw;
        /* min-height: 50vh; */
        /* background-color: gray; */
    }

    #page4 #h-divs .houseclas{
        width: 100%;
        height: 20vh;
        margin: 2vw 1vw;
        border-bottom: 1px solid rgb(226, 226, 226);
        /* background-color: red; */
    }

    .houseclas .title{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        /* gap: 100px; */
    }
    .houseclas h1{
        letter-spacing: 2px;
        /* border-bottom: 1px solid aqua; */
        font-size: 10vw;
        margin: 10px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
    }
    .houseclas h5{
        margin-top: 1.5vw;
        padding-right: 20px;
        font-size: 4vw;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }
    .houseclas button{
        padding: 2vw 3vw;
        border-radius: 50px;
        font-size: 3.2vw;
        align-items: center;
        color: #000;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 900;
        background-color: transparent;
        margin: 20px 100px;
    }


    #page5{
        width: 100%;
        height: 80vh;
        padding: 2vw 1vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-bottom: 20px;
        background-color: #F4F4F4;
    }

    #page5 .hed h1{
        text-align: start;
        font-size: 5vw;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 2.5vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }
    .faq-container{
        width: 100%;
        padding: 2.2vw 2vw;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .faq-container .left-prt h2{
        font-size: 8vw;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
    }

    .faqs{
        /* background-color: red; */
        width: 100%;
        /* padding: 40px; */
        line-height: 2rem;
        
    }
    #page5 .faq-container .right-prt{
        margin: 2px;
    }
    .quetsions{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
    
    }
    
    .quetsions h4{
        font-weight: 100;
        font-size: 4vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }
    .icon{
        margin-right: 20px;
    }
    .answer{
        color: blue;
        max-height: 0;
        overflow: hidden;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }
    
    .answer p{
        font-size: 3.5vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #page6{
        width: 100%;
        min-height: 40vh;
        padding: 3vw 1vw;
        text-align: center;
    }
    #page6 h1{
        font-size: 7vw;
        margin-top: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }
    #page6 .middle-prt {
        padding-top: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 1vw 1vw;
        
    }
    #page6 .middle-prt h4 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 3vw;
        font-weight: 800;
        /* text-align: center; */
        line-height: 1.2;
        
    }

    #page6 .middle-prt button{
        
        font-size: 4.5vw;
        font-weight: 100;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 2vw 2.5vw;
        border-radius: 50px;
        border: 1px solid black;
        background-color: transparent;
    }

    
    


    
    #footer{
        display: flex;
        align-items: center;
        padding: 2vw 2vw;
        width: 100%;
        height: 10vh;
        margin-top: 1vw;
        flex-direction: column;
        margin-bottom: 100px;
        background-color: #cfcfd077;
        justify-content: space-between;
    }

    #footer h4{
        font-size: 5vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }
    
    #footer i{
        font-size: 5vw;
        padding: 1vw 1vw;
    }


    
    
}









